<template>
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <p class="h3 text-success">Employees</p>
        <p class="fst-italic">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur,
          unde repellat recusandae ex esse cumque cupiditate deserunt possimus
          et inventore incidunt non officiis optio delectus neque quia suscipit,
          quaerat accusamus!
        </p>
      </div>
    </div>
  </div>
  <!-- <pre>{{employees}}</pre> -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group">
          <li
            class="list-group-item list-group-item-success"
            v-for="employee of employeeState.employees"
            v-bind:key="employee.id"
          >
            <input
              class="form-check-input"
              type="checkbox"
              :checked="employee.isSelected"
              @change="updateSelected(employee.id)"
            />
            {{ employee.name }}
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <div class="div" v-for="employee of employeeState.employees" :key="employee.id">
          <div class="div" v-if="employee.isSelected">
            <div class="card my-2">
              <div class="card-body list-group-item-success">
                <ul class="list-group">
                  <li class="list-group-item">
                    Id: <span class="fw-bold">{{ employee.id }}</span>
                  </li>
                  <li class="list-group-item">
                    Name: <span class="fw-bold">{{ employee.name }}</span>
                  </li>
                  <li class="list-group-item">
                    Email: <span class="fw-bold">{{ employee.email }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "VuexEmployees",
  methods: {
    updateSelected: function (id) {
      //dispatch (first parameter: name of module, second parameter: action name)
      this.$store.dispatch("employeesModule/updateSelected", {id: id})
    },
  },
  computed: mapGetters({
    employeeState: "getEmployeeState"
  })
};
</script>

<style scoped>
</style>