<template>
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <p class="h3 text-success">Counter</p>
        <p class="fst-italic">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. A eaque sed
          labore ratione vitae, eos magni autem amet, maiores qui, dolorum
          voluptate et fuga ea! Sed accusamus omnis atque similique.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col- md-4">
        <div class="card shadow-lg">
          <div class="card-body">
            <p class="h3 display-3">{{ counterState.count }}</p>
            <button class="btn btn-success m-1" @click="increment()">
              Increment
            </button>
            <button class="btn btn-warning m-1" @click="incrementBy(5)">
              Increment By
            </button>
            <button class="btn btn-danger m-1" @click="decrement()">
              Decrement
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import {mapGetters} from "vuex";
    export default {
        name: "VuexCounter",
        methods: {
            increment: function () {
                //dispatch (first parameter: name of module, second parameter: action name)
                this.$store.dispatch("counterModule/incrementCounter")
            },
            incrementBy: function (value) {
                this.$store.dispatch("counterModule/incrementCounterBy", {value: value})
            },
            decrement: function () {
                this.$store.dispatch("counterModule/decrementCounter")
            }
        },
    computed: mapGetters({
        counterState: "getCounterState"
    })
    }
</script>

<style scoped>
</style>