<template>
  <div class="text-center mt-4">
    <img src="../images/home-pic.jpeg" alt="" />
    <p className="h4 display-3">Project Management</p>
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: "Home",
  components: {},
};
</script>
