<template>
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <p class="h3 text-success">USERS</p>
        <p class="fst-italic">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur,
          unde repellat recusandae ex esse cumque cupiditate deserunt possimus
          et inventore incidunt non officiis optio delectus neque quia suscipit,
          quaerat accusamus!
        </p>
      </div>
    </div>
  </div>

  <div class="container" v-if="loading">
    <div class="row">
      <div class="col">
        <p class="h3 text-primary">Loading...</p>
      </div>
    </div>
  </div>

  <div class="container" v-if="!loading && errorMessage">
    <div class="row">
      <div class="col">
        <p class="h3 text-danger">{{errorMessage}}</p>
      </div>
    </div>
  </div>

   <div class="container" v-if="!loading && users.length > 0">
    <div class="row">
      <div class="col">
        <table class="table table-hover table-striped text-center">
          <thead class="bg-secondary text-white"> 
            <tr>
             <th>SNO.</th>
             <th>Name</th>
             <th>Email</th>
             <th>Website</th>
             <th>Company</th>
             <th>Location</th> 
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in users" :key="user.id">
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.website}}</td>
              <td>{{user.company.name}}</td>
              <td>{{user.address.city}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Users",
  data: function () {
    return {
      loading: false,
      users: [],
      errorMessage: null
    }
  },
  created: async function () {
    try {
      this.loading = true;
      let baseUrl = "https://jsonplaceholder.typicode.com/users";
      let response = await axios.get(baseUrl);
      this.users = response.data;
      this.loading = false;
    }
    catch (error) {
      this.loading = false;
      this.errorMessage = error;
    }
  }
};
</script>

<style scoped>
</style>